/archiv
/data.json
/DateAndTime.py
/itemsplus.csv
/meny.json
/menyandpricenotes.txt
/NewBegin
/orderNumber.json
/Price.json
/Programm Rechnung der PKA.docx
/Receipt Structure.pdf
/ReceiptBibliothek.py
/ReceiptNotes.txt
/UdemyLernhilfe.java